<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->



<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/pirin-pixel-yellow.png" alt="logo" width="264" height="78"></a>
            <p>
                Ние сме дигитална агенция, специализирана в изработка на уебсайтове и дигитален маркетинг. Свържете се с нас, за да изведем вашия бизнес на ново ниво.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Информация</h2>
                    </li>
                    <li>
                        <a href="/">Начало</a>
                    </li>
                    <li>
                        <a href="/about">За нас</a>
                    </li>
                    <li>
                        <a href="/projects">Проекти</a>
                    </li>
                    <li>
                        <a href="/reviews">Услуги</a>
                    </li>
                    <li>
                        <a href="/contact">Контакти</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Услуги</h2>
                    </li>
                    <li>
                        <span>Уебсайтове за Хотели</span>
                    </li>
                    <li>
                        <span>Онлайн Магазини</span>
                    </li>
                    <li>
                        <span>Фирмени Сайтове</span>
                    </li>
                    <li>
                        <span>Google Ads</span>
                    </li>
                    <li>
                        <span>Инстаграм Реклама</span>
                    </li>
                    <li>
                        <span>Фейсбук Реклама</span>
                    </li>
                    <li>
                        <span>ТикТок Реклама</span>
                    </li>
                
                </ul>
                <ul>
                    <li>
                        <h2>Контакт</h2>
                    </li>
                    <li>
                        <a href="/contact">ул. Георги Раковски №1<br>Гоце Делчев 2190</a>
                    </li>
                    <li>
                        <a href="tel:+359877382224">Tел: (+359) 877-382-224</a>
                    </li>
                    <li>
                        <a href="mailto:antonalmishev123@gmail.com">Кликнете, за да изпратите имейл</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Дизайн и разработка от</span>
        <a href="https://yourcompanywebsite.com" target="_blank" rel="noopener">Pirin Pixel Digital Solutions</a>
        <span class="copyright"> Copyright - <script>document.write(new Date().getFullYear())</script> 
    </div>
</footer>
