<!-- ============================================ -->
<!--                 Навигация                    -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<style>

.language-switcher {
    display: flex;
    align-items: center;
}

#language-toggle {
    background-color: #726e7f;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

</style>

<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--Този div се използва, за да преодолее проблем с z-index, където отворената
            #navbar-menu е над #navigation. Тази лента поставя самата себе си
            #navbar-menu така, че менюто да се появи зад #navigation
        -->
    </div>
    <div class="container">
        <!--Лого - Вземете SVG, ако може. Аз използвам fiverr, за да получа PNG конвертирани в SVG. Го препоръчвам, струва $20 - вземете светла и тъмна версия-->
        <a class="logo" aria-label="кликнете, за да отидете на началната страница" href="/">
            <!--Лого в светъл цвят, премахнете .dark image тага и .light класа, ако нямате тъмна и светла версия -->
            <img class="light" aria-hidden="true" src="/assets/images/pirin-pixel-yellow.png" decoding="async" alt="лого" width="221" height="66">

            <!--Лого в тъмен цвят-->
            <img class="dark" aria-hidden="true" src="/assets/images/pirin-pixel-green.png" decoding="async" loading="lazy" alt="лого" width="221" height="66">
        </a>

        <!--Превключвател за мобилно меню-->
        <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
            <span class="visually-hidden">Меню</span>
            <span aria-hidden="true"></span>
        </button>

        <!--Основно меню-->
        <nav id="navbar-menu" aria-label="основна навигация">
            <ul>
                {%- for entry in navPages %}
                    <li>
                        <a 
                        {% if entry.url == page.url %} class="active" {% endif %}
                        href="{{ entry.url }}"
                    >
                            {% if entry.title == "Home" %}Начало
                            {% elif entry.title == "About Us" %}За нас
                            {% elif entry.title == "Projects" %}Проекти
                            {% elif entry.title == "Reviews" %}Услуги
                            {% elif entry.title == "Blog" %}Блог
                            {% elif entry.title == "Contact" %}Контакт
                            {% else %}{{ entry.title }}
                            {% endif %}
                        </a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
        

        <!--Превключвател за тъмен режим-->
        <button id="dark-mode-toggle">
            <!--Луната е встроен SVG, така че можете да редактирате цвета при нужда-->
            <svg class="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="слънце" width="15" height="15">
        </button>
        
        <div class="language-switcher">
            <button id="language-toggle">
                <img src="/assets/images/bg-flag.png" alt="BG" width="20" height="15">
            </button>
        </div>
       

        
    </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
    const languageToggle = document.getElementById('language-toggle');
    const currentFlag = languageToggle.querySelector('img');

    languageToggle.addEventListener('click', function() {
        const currentLang = currentFlag.alt;
        let newLang, newFlagSrc;

        if (currentLang === 'BG') {
            newLang = 'EN';
            newFlagSrc = '/assets/images/en-flag.png';
        } else {
            newLang = 'BG';
            newFlagSrc = '/assets/images/bg-flag.png';
        }

        // Update the flag image
        currentFlag.src = newFlagSrc;
        currentFlag.alt = newLang;

        // Redirect to the corresponding language page
      //  const currentPageUrl = window.location.pathname;
      //  const newUrl = `/${newLang.toLowerCase()}${currentPageUrl}`;
       // window.location.href = newUrl;
    });
});

</script>
