<!-- ============================================ -->
<!--                 Навигация                    -->
<!-- ============================================ -->
{% set navPages = collections.all | eleventyNavigation %}

<style>
#google_translate_element {
  display: none;  
}
  
.language-switcher {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#language-toggle {
    background-color: #726e7f;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

</style>

<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--Този div се използва, за да преодолее проблем с z-index, където отворената
            #navbar-menu е над #navigation. Тази лента поставя самата себе си
            #navbar-menu така, че менюто да се появи зад #navigation
        -->
    </div>
    <div class="container">
        <div class="header-flex" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <div class="header-left" style="display: flex; align-items: center;">
                <a class="logo" aria-label="кликнете, за да отидете на началната страница" href="/">
                    <img class="light" aria-hidden="true" src="/assets/images/pirin-pixel-yellow.png" decoding="async" alt="лого на изработка на уебсайтове Банско" width="221" height="66">
                    <img class="dark" aria-hidden="true" src="/assets/images/pirin-pixel-green.png" decoding="async" loading="lazy" alt="лого на изработка на уебсайтове Гоце Делчев" width="221" height="66">
                </a>
                <button id="language-toggle" style="margin-left: 0.7em;">
                    <img src="/assets/images/en-flag.png" alt="english website development" width="20" height="15">
                </button>
            </div>
            <nav id="navbar-menu" aria-label="основна навигация">
                <ul>
                    {%- for entry in navPages %}
                        <li style="margin-top: 5px;">
                            <a 
                                {% if entry.url == page.url %} class="active" {% endif %}
                                href="{{ entry.url }}"
                                title="Дигитална агенция Pirin Pixel - 
                                {% if entry.title == 'Home' %}Начало{% 
                                elif entry.title == 'About Us' %}За нас{% 
                                elif entry.title == 'Projects' %}Проекти{% 
                                elif entry.title == 'Reviews' %}Услуги{% 
                                elif entry.title == 'Blog' %}Блог{% 
                                elif entry.title == 'Contact' %}Контакт{% 
                                else %}{{ entry.title }}{% 
                                endif %}"
                            >
                                {% if entry.title == "Home" %}Начало
                                {% elif entry.title == "About Us" %}За нас
                                {% elif entry.title == "Projects" %}Проекти
                                {% elif entry.title == "Reviews" %}Услуги
                                {% elif entry.title == "Blog" %}Блог
                                {% elif entry.title == "Contact" %}Контакт
                                {% else %}{{ entry.title }}
                                {% endif %}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
            <div class="header-right" style="display: flex; align-items: center; gap: 0.5em;">
                <button id="dark-mode-toggle">
                    <svg class="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
                    <img class="sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="Изработка на уебсайт" width="15" height="15">
                </button>
                <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
                    <span class="visually-hidden">Меню</span>
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <span id="google_translate_element"></span>
        </div>
    </div>
</div>

<script>
    // Селектори за бутоните и елементите, които искате да скриете/покажете
    var languageToggle = document.getElementById('language-toggle');
    var googleTranslateElement = document.getElementById('google_translate_element');

    // Прикрепване на слушател за клик събитие към бутона за превключване на езика
    languageToggle.addEventListener('click', function() {
        // Скриване на бутона за превключване на езика
        languageToggle.style.display = 'none';
        // Показване на Google Translate елемента
        googleTranslateElement.style.display = 'block';
    });
</script>
